---
title: Artists
subtitle: "A curated list of the talented musicians we’re proud to have partnered and produced with."

layout: default
weight: 1
---

<section>
	<div class="grid container">
		<div class="col two_third-width section-header">
			<h1>{{ page.title }}</h1>
			<p>{{ page.subtitle }}</p>
		</div>

		<div class="shelf">
			{% for artist in site.artists %}
				{% assign name = artist.name %}
				{% assign numberOfAlbums = artist.albums | size %}
				<a class="col quarter-width tile" href="/artists/{{ name | downcase | slugify }}">
					<div class="thumbnail" style="background-image:url({{ artist.thumbnail }})"></div>
					<div class="meta">
						<span class="title">{{ name }}</span>
						<span class="subtitle">{{ numberOfAlbums }} album{% if numberOfAlbums > 1 %}s{% endif %}</span>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>