<!-- actions -->
<section class="two_up">
	<div class="grid">
		<div class="col half-width">
			<div class="heading">
				<h1>Calling all Musicians</h1>
				{% if page.artists_action_description %}
					<h2>{{ page.artists_action_description | markdownify }}</h2>
				{% endif %}
			</div>
			{% if page.artists_action_link %}
				<div class="actions">
					<a href="{{ page.artists_action_link %}}" class="button secondary">Apply as an artist</a>
				</div>
			{% endif %}
		</div>
		<div class="col half-width">
			<div class="heading">
				<h1>Promote your Brand</h1>
				{% if page.partners_action_description %}
					<h2>{{ page.partners_action_description | markdownify }}</h2>
				{% endif %}
			</div>
			{% if page.partners_action_link %}
				<div class="actions">
					<a href="{{ page.partners_action_link %}}" class="button tertiary">Apply as a partner</a>
				</div>
			{% endif %}
		</div>
	</div>
</section>