<!-- actions -->
<section class="two_up">
	<div class="grid">
		<div class="col half-width">
			<div class="heading">
				<h1>Calling all Musicians</h1>
				{% if page['Artists Action Description'] %}
					<h2>{{ page['Artists Action Description'] | markdownify }}</h2>
				{% endif %}
			</div>
			{% if page['Artists Action Link'] %}
				<div class="actions">
					<a href="{{ page['Artists Action Link'] %}}" class="button secondary">Apply as an artist</a>
				</div>
			{% endif %}
		</div>
		<div class="col half-width">
			<div class="heading">
				<h1>Promote your Brand</h1>
				{% if page['Partners Action Description'] %}
					<h2>{{ page['Partners Action Description'] | markdownify }}</h2>
				{% endif %}
			</div>
			{% if page['Partners Action Link'] %}
				<div class="actions">
					<a href="{{ page['Partners Action Link'] %}}" class="button tertiary">Apply as a partner</a>
				</div>
			{% endif %}
		</div>
	</div>
</section>