<head>
	<title>{{ site['title'] }}{% if page['title'] %}— {{ page['title'] }}{% endif%}</title>

	<meta charset="utf-8">
	<meta name="theme-color" content="{{ site['Color'] }}">
	<meta name="viewport" content="width=device-width,initial-scale=.8">
	<meta name="description" content="{{ site['Description'] }}">

	<link rel="shortcut icon" href="{{ site['url'] }}/css/img/favicon.ico">
	<link rel="apple-touch-icon" href="{{ site['url'] }}/css/img/icon.png">
	<link rel="stylesheet" href="{{ site['url'] }}/css/style.css">
	<link rel="stylesheet" href="{{ site['url'] }}/css/fonts.css">

	{% if site['Twitter'] %}
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="{{ site['Twitter'] }}"/>
	<meta name="twitter:creator" content="{{ site['Twitter'] }}"/>
	<meta name="twitter:title" content="{{ site['title'] }}"/>
	<meta name="twitter:description" content="{{ site['Description'] }}"/>
	<meta name="twitter:image" content="{{ site['url'] }}/css/img/icon.png"/>
	{% endif %}

	<meta property="og:title" content="{{ site['title'] }}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="{{ site['Description'] }}"/>
	<meta property="og:image" content="{{ site['url'] }}/css/img/icon.png"/>
	<meta property="og:url" content="{{ site['url'] }}"/>
</head>