<a href="/" class="site-logo">{{ site.name }}</a>
<nav role="navigation">
	<ul class="site-nav">
		{% assign current_page_title = page.title %}
		{% assign pages = site.pages | sort: "weight" %}
		{% for page in pages %}
			{% assign page_title = page.title %}
			{% if page_title != site.name and page_title != "Contact" %}
				<li><a href="{{ page.url }}"{% if current_page_title == page_title %}class="active"{% endif %}>{{ page_title }}</a></li>
			{% endif %}
		{% endfor %}
		<li><a href="/contact" class="button tertiary">Contact</a></li>
	</ul>
</nav>