		<section>
			<div class="grid container">
				<div class="col two_third-width section-header">
					<span class="overtitle">Cool stuff</span>
					<h1>Featured Albums</h1>
					<p>From new and noteworthy chart-toppers to platinums, here are a few albums we’re proud to have produced.</p>
				</div>

				<div class="shelf">

					<div class="col quarter-width tile">
						<div class="thumbnail" style="background-image:url()"></div>
						<div class="meta">
							<span class="title">Title</span>
							<span class="subtitle">Subtitle</span>
						</div>
					</div>

				</div>
			</div>
		</section>