<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<meta name="theme-color" content="{{ site.color }}">
	<meta name="author" content="{{ site.author }}">
	<meta name="viewport" content="width=device-width,initial-scale=.8">
	<meta name="description" content="{{ site.description }}">
	<link rel="shortcut icon" href="/static/imgs/favicon.ico">
	<link rel="apple-touch-icon" href="/static/imgs/icon.png">
	<link rel="stylesheet" href="/static/style.css">

	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="{{ site.twitter }}"/>
	<meta name="twitter:creator" content="{{ site.twitter }}"/>
	<meta name="twitter:title" content="{{ site.title }}"/>
	<meta name="twitter:description" content="{{ site.description }}"/>
	<meta name="twitter:image" content="{{ site.url }}/static/imgs/icon.png"/>

	<meta property="og:title" content="{{ site.title }}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="{{ site.description }}"/>
	<meta property="og:image" content="{{ site.url }}/static/imgs/icon.png"/>
	<meta property="og:url" content="{{ site.url }}"/>
</head>