<nav role="navigation">
	<ul class="site-nav">
		<li><a href="/artists"{% if page.title == "Artists" %}class="active"{% endif %}>Artists</a></li>
		<li><a href="/partners"{% if page.title == "Partners" %}class="active"{% endif %}>Partners</a></li>
		<li><a href="/store"{% if page.title == "Store" %}class="active"{% endif %}>Store</a></li>
		<li><a href="/about"{% if page.title == "About" %}class="active"{% endif %}>About</a></li>
		<li><a href="/contact" class="button tertiary">Contact</a></li>
	</ul>
</nav>