 /* @group grid */

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 960px;
}

.grid { text-align: center; }

	.col {
		vertical-align: top;
		display: inline-block;
		margin-left: calc(2% - 2px);
		margin-right: calc(2% - 2px);
	}

	.full-width { width: calc(100% - (2 * 2%) - 4px); }
	.half-width { width: calc(50% - (2 * 2%) - 2px); }
	.two_third-width { width: calc(75% - (2 * 2%) - 3px); }
	.quarter-width { width: calc(25% - (2 * 2%) - 1px); }

/* @end */

/* @group typography */

html {
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}

body {
	color: #333;
	font-weight: 500;
	font-family: "Avenir", sans-serif;
}

h1 {
	font-size: 42px;
	line-height: 1.3;
}

h2 {
	font-size: 24px;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid rgba(0,0,0,.1);
}

p {
	margin-bottom: 1rem;
}

nav {
	min-height: 44px;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a {
	border-bottom: none;
}


.actions .button {
	display: block;
	max-width: 240px;
	padding: .75rem 0;
}

.button {
	border: none;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 1rem;
	padding: .75rem 1rem;
	display: inline-block;
	background-color: #8E8E93;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

	.primary {
		background-color: #A5DE37;
	}

	.secondary {
		background-color: #FC880F;
	}

	.tertiary {
		background-color: #1C9AF8;
	}

/* @end */

/* @group header */

header {
	padding: 32px 16px;
}

header:after {
	width: 100%;
	height: 1px;
	clear: both;
	content: '';
	display: block;
}

header a {
	border-bottom: none;
}

.site-logo {
	float: left;
	margin-top: .6rem;
	font-size: 24px;
	display: block;
}

.site-logo:before {
	display: inline-block;
	float: left;
	content: '';
	width: 43px;
	height: 53px;
	background-image: url(/assets/imgs/logo.svg);
	background-size: 100%;
	background-position: center;
	margin-top: -1rem;
	margin-right: 1rem;
}

.site-nav {
	float: right;
}

	.site-nav li {
		font-size: 20px;
		margin-left: 2rem;
	}

	.site-nav a {
		color: #8E8E93;
	}

	.site-nav .button {
		color: #FFFFFF;
	}

	.site-nav .active {
		font-weight: bold;
		color: #000000;
	}

/* @end */

/* @group section */

.banner {
	width: 100%;
	padding-top: 30%;
	background-size: 100%;
	background-color: rgba(0,0,0,.1);
	background-position: center center;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

section {
	padding: 1rem 1rem;
}


.section-header {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

	.section-header h1 {
		color: #000;
		margin-bottom: 1rem;
	}

	.section-header p {
		color: #8E8E93;
		line-height: 25px;
	}

	.overtitle {
		color: #C7C7CC;
		display: block;
		font-size: 16px;
		letter-spacing: 3px;
		margin-bottom: 1rem;
		text-transform: uppercase;
	}

.artist .section-header {
	margin-bottom: 2rem;
}

.artist .section-header p {
	margin-bottom: 2rem;
}

/* @end */

/* @group thumbnails */

.shelf {
	text-align: left;
}

.shelf:after {
	width: 100%;
	height: 1px;
	clear: both;
	content: '';
	display: block;
}

.tile-large {
	float: left;
}

.tile {
	margin-bottom: 2rem;
	border-bottom: none;
	display: inline-block;
}

	.thumbnail {
		padding-top: 98%;
		background-size: 100%;
/*		border: 1px solid rgba(0,0,0,.1);*/
		box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
		background-color: rgba(0,0,0,.1);
		background-position: center center;
	}

	.shelf .thumbnail {
		margin-bottom: 1rem;
	}

	.meta {
		text-align: left;
	}

		.meta span {
			display: block;
			line-height: 1.3;
			margin-bottom: .25rem;
		}

		.meta .title {
			font-size: 20px;
			color: #000;
		}

		.meta .subtitle {
			color: #8E8E93;
			font-size: 16px;
		}

.store-item:after {
	width: 100%;
	height: 1px;
	clear: both;
	content: '';
	display: block;
}

.store-item-description {
	text-align: left;
}

.social-media {
	margin-top: 1rem;
	margin-bottom: 1rem;
	list-style: none;
	text-align: center;
}

.social-media li {
	vertical-align: middle;
	display: inline-block;
	margin-left: .75rem;
	margin-right: .75rem;
}

.social-media a {
	display: block;
	border-bottom: none;
	text-indent: -9999px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.facebook {
	width: 24px;
	height: 24px;
	background-image: url(/assets/imgs/fb.svg);
}

.twitter {
	width: 24px;
	height: 20px;
	background-image: url(/assets/imgs/twitter.svg);
}

.google {
	position: relative;
	top: 1px;
	margin-left: -1px;
	width: 33px;
	height: 21px;
	background-image: url(/assets/imgs/google.svg);
}

/* @end */

/* @group footer */

footer {
	padding: 16px;
	margin-top: 3rem;
}

footer .site-logo {
	font-size: 20px;
	border-bottom: none;
}

footer .site-logo:before {
	margin-top: -.25rem;
	width: 24px;
	height: 29px;
}

footer .site-nav {
	margin-top: .75rem;
}

footer .site-nav li {
	font-size: 18px;
}

footer .site-nav .button {
	padding: 0;
	color: #8E8E93;
	font-weight: 500;
	font-size: inherit;
	text-shadow: none;
	background-color: transparent;
}

.copyright {
	clear: both;
	width: 100%;
	color: #C7C7CC;
	font-size: 14px;
	text-align: right;
}

/* @end */

/* @group breakpoints */

@media (max-width: 820px) {

	header {
		padding: 16px;
	}

	header .col, footer .col {
		text-align: left;
	}

	.site-nav, .site-logo {
		float: none;
		display: block;
	}

	.site-logo {
		margin-bottom: 1rem;
	}

	.site-logo:before {
		display: block;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 2rem;
		float: none;
	}

	footer .site-logo:before {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.site-nav li {
		margin-left: 0;
		margin-right: 2rem;
		margin-bottom: 1rem;
	}

	.copyright {
		text-align: left;
	}

}

@media (max-width: 720px) {

	.site-nav .button {
		padding: 0;
		color: #8E8E93;
		font-weight: 500;
		text-shadow: none;
		background-color: transparent;
	}

	.quarter-width {
		width: calc(50% - (2 * 2%) - 2px);
	}

	.half-width {
		float: none;
		width: calc(100% - (2 * 2%) - 4px);
	}

}

@media (max-width: 320px) {

	.col, .full-width, .half-width, .quarter-width {
		display: block;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

}

/* @end */