<!doctype html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include header.html %}
		{% if page['Cover Image'] %}
			<section class="cover" style="background-image:url({{ page['Cover Image']}})"></section>
		{% endif %}
		<section>
			<div class="grid">
				<div class="col full-width">
					<div class="heading">
						<span class="overtitle">{{ site['title'] }}</span>
						<h1>{{ page['title'] }}</h1>
						{% if page['Description'] %}
							<h2>{{ page['Description'] | markdownify }}</h2>
						{% endif %}
					</div>
				</div>
				<div class="tiles">
					<div class="col half-width tile">
						<div class="image" style="background-image:url({{ page['Large Image'] }})"></div>
						{% if page['Large Image Caption'] %}
							<div class="meta">
								<span class="subtitle">{{ page['Large Image Caption'] }}</span>
							</div>
						{% endif %}
					</div>
					<a href="/nathan" class="col quarter-width tile">
						<div class="image" style="background-image:url({{ page['Nathan Image'] }})"></div>
						<div class="meta">
							<span class="title">Nathan Batham</span>
							<span class="subtitle">Co-founder</span>
						</div>
					</a>
					<a href="/shane" class="col quarter-width tile founder">
						<div class="image" style="background-image:url({{ page['Shane Image'] }})"></div>
						<div class="meta">
							<span class="title">Shane McMahon</span>
							<span class="subtitle">Co-founder</span>
						</div>
					</a>
				</div>
			</div>
		</section>
		<section class="two_up">
			<div class="grid">
				<div class="col full-width">
					<div class="heading">
						<span class="overtitle">Our values</span>
						<h1>{{ page['About Section Header'] }}</h1>
					</div>
				</div>
				<div class="content">
					{{ content }}
				</div>
			</div>
		</section>

		{% include footer.html %}
	</body>
	{% include scripts.html %}
</html>