<!doctype html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include header.html %}
		<section>
			<div class="grid">
				<div class="col full-width">
					<div class="heading">
						<h1>{{ page['title']}}</h1>
						{% if page['Description'] %}
							<h2>{{ page['Description'] | markdownify  }}</h2>
						{% endif %}
					</div>
					<div class="actions">
						<ul class="media">
							{% for media in page['Social Media'] %}
							<li><a href="{{ media['URL'] }}" class="{{ media['Type'] }}">{{ media['Type'] }}</a></li>
							{% endfor %}
						</ul>
						<a href="mailto:{{ site['Email'] }}?subject=General Inquiry" class="button primary">Send an email</a>
					</div>
				</div>
			</div>
		</section>
		{% include actions.html %}
		{% include footer.html %}
	</body>
	{% include scripts.html %}
</html>