<!doctype html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include header.html %}
		<section>
			<div class="grid">
				<div class="col full-width">
					<div class="heading">
						<h1>{{ page['title'] }}</h1>
						{% if page['Description'] %}
							<h2>{{ page['Description'] | markdownify  }}</h2>
						{% endif %}
					</div>
				</div>
				<div class="tiles">
					{% for item in site['store'] %}
						<a href="{{ item['url'] }}" class="col quarter-width tile">
							<div class="image" style="background-image:url({{ item['Image'] }})"></div>
							<div class="meta">
								<span class="title">{{ item['title'] }}</span>
								<span class="subtitle">{{ item['Price'] }}</span>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</section>
		{% include footer.html %}
	</body>
	{% include scripts.html %}
</html>