<!doctype html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}

		<section class="store-item">
			<div class="grid container">
				<div class="col half-width tile-large">
					<div class="thumbnail" style="background-image:url({{ page.thumbnail }})"></div>
				</div>
				<div class="col half-width store-item-description">
					<h1>{{ page.title }}</h1>
					<p>{{ page.description }}</p>
					<a class="button primary" href="{{ page.buylink }}">Buy for ${{ page.price }}</a>
				</div>
			</div>
		</section>

		{% include footer.html %}
	</body>

	{% include scripts.html %}
</html>
